/* src/index.css */
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', '* {
  font-family: 'Roboto', sans-serif;
}', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */



/* App.css or any CSS file */
* {
  font-family: 'Roboto', sans-serif;
}